@import url("https://fonts.googleapis.com/css2?family=Anta&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Font CSS */

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: "Regular 400";
  /* Regular 400 */
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  /* 100 - 900 (100th Value) */
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  /* 100 - 900 (100th Value) */
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  /* 100 - 900 (100th Value) */
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  /* 100 - 900 (100th Value) */
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /* 100 - 900 (100th Value) */
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  /* 100 - 900 (100th Value) */
  font-style: normal;
}

.inter-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  /* 100 - 900 (100th Value) */
  font-style: normal;
}

.open-sans-extrabold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  /* 300 - 800 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  /* 300 - 800 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  /* 300 - 800 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-medium {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /* 300 - 800 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /* 300 - 800 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  /* 300 - 800 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-bengali-black {
  font-family: "Noto Sans Bengali", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  /* 100 - 900 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-bengali-bold {
  font-family: "Noto Sans Bengali", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  /* 100 - 900 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-bengali-medium {
  font-family: "Noto Sans Bengali", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /* 100 - 900 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-bengali-light {
  font-family: "Noto Sans Bengali", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  /* 100 - 900 (100th Value) */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

