* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  background: linear-gradient(120deg, #0b74b0, #754796, #bd3861);
  height: 100vh;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
  <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 100 to 900 
*/

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
